/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --color-title: #DB00FF;
  --color-paragraph: #F1B2CE;
  --gray-color-element: #ff0070;
  --border-hover: rgba(255, 0, 112, 0.4);
}
